#hd {
  background-color: transparent;
  transition: 0.5s;
  padding: 15px 0;
}
#hd a {
  color: black;
  transition: 0.5s;
}
#hd h1 a span span {
  display: none;
}
#hd.scroll {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
}
#hd.scroll h1 a span span {
  display: block;
}
#hd.scroll a {
  color: white;
}