#hd{

    background-color: transparent;
    transition: 0.5s;
    padding:15px 0;
    a{
        color:black;
        transition: 0.5s;
    }

    &.scroll{
        background-color: rgb(0,0,0, .8);
        padding:0;
        a{
            color:white;
        }
    }
}